@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primary:#1d3439;
    --color-light:#c1f53d;
    --color-white:rgb(251, 245, 245);
    --color-black:#000000;
    --font-medium:1.4rem;
    --font-large:1.6rem;
}

body{
    /* position: fixed; */
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
a{
    text-decoration:none ;
    color: var(--color-light);
}

header{
    width: 100%;
    height: 140px;
    display: grid; 
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color-primary);

}
.header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.foor{
    display: inline-flex;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 35%;
    margin-bottom: 50px;
    color: var(--color-black);
 }
 form {
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto mono', monospace;
    background-color:#e2f0e8;
 }
 label {
    font-weight: bold;
 }
 
 .foor a {
    color: black;
    font-size: 20px;
    font-family: 'Roboto mono', monospace;
 }
 